@import "tailwindcss";

/* Fonts */
@font-face {
  font-family: "bricolage";
  src: url("/fonts/BricolageGrotesque-Bold-BF648bd57888479.ttf");
}

@font-face {
  font-family: "coolvetica";
  src: url("/fonts/Coolvetica-Rg.otf");
}
@font-face {
  font-family: "instrumentSerif";
  src: url("/fonts/InstrumentSerif-Regular.ttf");
}

/* Colors */
@theme {
  --color-surface: #f4f7e8;
  --color-light: #dce7c5;
  --color-mid: #a4c78f;
  --color-dark: #5d9363;
  --color-deep: #354330;

  --color-white: #ffffff;
  --color-danger: #dc2626;
}

html,
body {
  background-color: #edf1d6;
}
button {
  cursor: pointer;
}
